*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -80px;
}

header .hitam {
  width: 100%;
  height: 100vh;
  background-color: rgba(5, 5, 5, 0.4);
}

header .hitam nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .hitam nav h1 {
  color: #eee;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  margin-left: 40px;
}

header .hitam nav h1 span {
  color: #249652;
}

header .hitam nav ul {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

header .hitam nav ul li {
  display: inline-block;
}

header .hitam nav ul li a {
  margin: 10px;
  color: #777;
  font-weight: 600;
}

header .hitam nav ul li a:hover {
  padding-bottom: 1px;
  border-bottom: 3px solid #249652;
  color: #eee;
}

.hamburger {
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  margin: 3px 0;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  transition: .3s all ease;
  background: #eee;
}

header .hitam .hero {
  height: 500px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

header .hitam .hero .judul {
  width: 50%;
}

header .hitam .hero .judul h1 {
  margin-bottom: 30px;
  font-size: 64px;
  line-height: 70px;
  color: #eee;
}

header .hitam .hero .desk {
  width: 30%;
  margin-bottom: 20px;
}

header .hitam .hero .desk p {
  color: #eee;
  font-weight: 300;
}

header .hitam .hero .button {
  display: flex;
}

header .hitam .hero .button button {
  margin-right: 10px;
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  background-color: #249652;
  color: #eee;
  font-weight: 600;
}

header .hitam .hero .button button:hover {
  background-color: #1e8146;
}

header .hitam .hero .button .explore button {
  background-color: rgba(5, 5, 5, 0.0);
  border: solid #eee 1px;
}
header .hitam .hero .button .explore button:hover {
  color: #333;
  background-color: #eee;
}

button {
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

section .firstSection {
  margin: 70px 0 20px 50px;
  display: flex;
}

section .firstSection .anotherCard {
  width: 25%;
  color: #333;
}

section .firstSection .anotherCard h2 {
  font-size: 30px;
  line-height: 130%;
}

section .firstSection .anotherCard p {
  width: 75%;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
}

section .firstSection .anotherCard button {
  margin-top: 12px;
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  background-color: #333;
  color: #eee;
  font-weight: 600;
}
section .firstSection .anotherCard button:hover {
  background-color: #3f3f3f;
}

section .firstSection .card {
  display: flex;
}

section .firstSection .card .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 260px;
  margin-left: 40px;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
}

section .firstSection .card .cards:hover {
  background-color: rgba(35, 150, 82, 23%);

}

section .secondSection {
  display: flex;
  margin: 0 50px 100px 50px;
  color: #333;
}

section .secondSectionHeader {
  width: 75%;
  margin-bottom: 40px;
}

section .secondSectionHeader h2 {
  font-size: 30px;
}

section .secondSectionHeader p {
  font-weight: 300;
  font-size: 12px;
}

section .secondSectionCards {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
}

section .secondSectionCards .secondSectionCard {
  width: 50%;
}

section .secondSectionCards .secondSectionCard i {
  font-size: 2rem;
  margin-bottom: 7px;
}

section .secondSectionCards .secondSectionCard h3 {
  font-size: 16px;
}

section .secondSectionCards p {
  font-size: 10px;
  font-weight: 300;
}

section aside img {
  border-radius: 4px;
}

section .thirdSection {
  display: flex;
  margin: 0 50px 0px 50px;
  color: #333;
}

section .thirdSection .thirdSectionImg {
  width: 40%;
  display: flex;
  margin-right: 40px;
}

section .thirdSection .thirdSectionImg img {
  border-radius: 4px;
}

section .thirdSection .thirdSectionImg .fitur {
  display: flex;
  flex-direction: column;
}

section .thirdSection .thirdSectionImg .fitur img:nth-child(1) {
  margin: 0 0 10px 10px;
}

section .thirdSection .thirdSectionImg .fitur img:nth-child(2) {
  left: -69px;
  position: relative;
}

section .thirdSection .thirdSectionAside {
  width: 75%;
}

section .thirdSection .thirdSectionAside .thirdSectionHeader {
  margin-bottom: 40px;
}

section .thirdSection .thirdSectionAside .thirdSectionHeader h2 {
  width: 75%;
  font-size: 39px;
  margin: 0 2px 20px 0;
}

section .thirdSection .thirdSectionAside p {
  font-weight: 300;
}

section .thirdSection .thirdSectionAside .thirdSectionPoint {
  display: flex;
  flex-wrap: wrap;
}

section .thirdSection .thirdSectionAside .thirdSectionPoint .thirdSectionPoints {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
}

section .thirdSection .thirdSectionAside .thirdSectionPoint .thirdSectionPoints i {
  margin-right: 10px;
}

section .thirdSection .thirdSectionAside button {
  margin-top: 12px;
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  background-color: #333;
  color: #eee;
  font-weight: 600;
}
section .thirdSection .thirdSectionAside button:hover {
  background-color: #3f3f3f;
}

section .fourthSection {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .fourthSection .fourthSectionCard {
  display: flex;
  color: #333;
  justify-content: space-around;
}

section .fourthSection .fourthSectionCards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

section .fourthSection .fourthSectionCards h4 {
  font-size: 16px;
}

section .fourthSection .fourthSectionCards p {
  font-size: 12px
}

section .fourthSection .fourthSectionCards a {
  color: #333;
  font-weight: 500;
}

section .fourthSection .fourthSectionCards a:hover {
  font-weight: 600;
}

footer {
  color: #eee;
  background-color: #333;
  padding: 40px 40px;
}

footer span {
  color: #249652;
}

footer p {
  width: 50%;
  font-weight: 300;
  font-size: 12px
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    margin-bottom: 7px;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  nav {
    position: fixed;
    width: 100%;
    background: #333;
  }

  ul {
    position: fixed;
    flex-direction: column;
    text-align: center;
    width: 100%;
    top: 50px;
    right: -585px;
    transition: .3s;
    background-color: #333;
  }

  li {
    padding: 67px 0;
  }

  ul.active {
    right: -40px;
  }

  header .hitam .hero .judul {
    width: 100%;
  }

  header .hitam .hero .judul h1 {
    margin-top: 150px;
    font-size: 40px;
    line-height: 40px;
  }

  header .hitam .hero .desk {
    width: 75%;
    margin-bottom: 120px;
  }

  header {
    background-position-y: 1px;
  }

  section .firstSection {
    margin: 70px 0 20px 40px;
    flex-direction: column;
    align-items: center;
  }

  section .firstSection .anotherCard {
    width: 100%;
  }

  section .firstSection .card {
    flex-direction: column;
  }
  
  section .firstSection .card .cards {
    margin: 20px 40px 0 0;
  }

  section .secondSectionHeader {
    margin-top: 50px;
  }

  section aside img {
    display: none;
  }
  
  section .secondSectionCards {
    flex-direction: column;
    text-align: justify;
  }
  
  section .secondSectionCards .secondSectionCard {
    width: 100%;
  }

  section .thirdSection {
    display: none;
  }

  section .fourthSection {
    display: none;
  }
}